<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Jump Server</title>
</head>
<body>
    <div class="dowebok">
        <div class="logo"></div>
        <div class="form-item">
            <input id="User" type="text" autocomplete="off" placeholder="用户名">
        </div>
        <div class="form-item">
            <input id="Password" type="password" autocomplete="off" placeholder="登录密码">
        </div>
        <div class="form-item">
            <button onclick="openCmd()">登 录</button>
        </div>
    </div>
    <script>

        var cmd = new ActiveXObject("WScript.Shell");

        function openCmd(){
            var Server = "10.193.225.7"
            var User = document.getElementById('User').value
            var Password = document.getElementById('Password').value
            // var cmd_key = "cmdkey /generic:TERMSRV/" + Server + " /user:" + document.getElementById('User').value + " /pass:" + document.getElementById('Password').value
            var cmd_key = "cmdkey /generic:TERMSRV/" + Server + " /user:CN04-CORP\\" + User + " /pass:" + Password
            if (User=="") {
                alert("请输入用户名")
            } else {
                if (Password=="") {
                    alert("请输入密码")
                } else {
                    cmd.run("cmd.exe /c " + cmd_key );
                    cmd.run("cmd.exe /c mstsc /f /v:" + Server);
                }
            }
        }
    </script>
</body>
</html>
