{% extends "mhosts/base.html" %} 
{% block header %}
<div class="adgr">Groups <a href="{% url 'mhosts:new_group' %}">&nbsp;&nbsp;Add new group</a></div>
{% endblock %} 

{% block content %}
        <table >
            <tr>
                
                <th>Group Name</th>
                <th>Action</th>
                <th>Action2</th>
    
            </tr>
        
            {% for group in groups %}
           
                
                    <tr>
                        <td><a href="{% url 'mhosts:group' group.id %}">{{ group }}</a></td>
                        <td><a href="{% url 'mhosts:edit_group' group.id %}">edit</a></td>
                        <td><a href="{% url 'mhosts:delete_group' group.id %}" onclick="return deleteJob();">delete</a></td>
                    </tr>
                
           
            {% empty %}
            <li>No groups have been added yet.</li>
            {% endfor %}
        </table>

        <script type="text/javascript">
            function deleteJob() {
                if (confirm("delete this server group? This action will delete ALL servers inside the group!")) {
                    return true;
                } else {
                    return false;
                }
            }
        </script>

    </ul>
</h3>
{% endblock content %}