{% extends 'mhosts/base.html' %}

{% block content %}

  <p>Group: {{ group }}</p>

  <p>hosts:</p>
  <p>
    <a href="{% url 'mhosts:new_host' group.id %}">add new host</a>
  </p>
  <ul>
  {% for host in hosts %}
    <li>
      <p>{{ host.date_added|date:'M d, Y H:i' }}</p>
      <p>{{ host.text|linebreaks }}</p>
      <p>{{ host.host_name|linebreaks }}</p>
      <p>{{ host.host_ip|linebreaks }}</p>
      <p>
        <a href="{% url 'mhosts:edit_host' host.id %}">edit host</a>
      </p>
    </li>
  {% empty %}
    <li>
      There are no hosts for this group yet.
    </li>
  {% endfor %}
  </ul>

{% endblock content %}
