{% extends "mhosts/base.html" %}

{% block header %}
  <div class='jumbotron'>
      <h1>Veoneer Server Login Platform</h1>        
  </div>
{% endblock %}

{% block content %}
  <h2>
    This web application can be used to manage your server list, 
    and use RDP or SSH to quickly log in to your server.
  </h2>
  <h2>
    Click this link to <a href="{% url 'mhosts:groups' %}"> Manage your servers</a>,
    or <a href="{% url 'users:register' %}">Register an account</a> if don't have one.
  </h2>

  <h2>
    This application requires windows IE browser and some additional configs.
    Learn how to <a href="{% url 'mhosts:ieconfig' %}">aconfigure IE browser</a>.
  </h2>
{% endblock %}