{% extends 'mhosts/base.html' %}

{% block header %}
<h2>{{ group }}</h2>
{% endblock header %}

{% block content %}
<p>
  <a href="{% url 'mhosts:new_host' group.id %}">add new host</a>
</p>



{% for host in hosts %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      {{ host.host_name }}
      <small>
        <a href="{% url 'mhosts:edit_host' host.id %}">
          edit</a>
        <a href="javascript:;" onclick="openCmd{{ host.id }}()">
          connect</a>

      </small>
    </h3>
  </div>
  <div id="{{host.id}}" class="panel-body">
    {{ host.id|linebreaks }}
    {{ host.host_ip|linebreaks }}
    <!-- {{ host.user_name|linebreaks }} -->
    {{ host.text|linebreaks }}

  </div>
</div> <!-- panel -->
<script type="text/javascript">

  var cmd = new ActiveXObject("WScript.Shell");

  function openCmd{{ host.id }}() {
    cmd.run("cmd.exe /c putty -ssh -l {{ host.user_name }} -pw {{ host.user_pass }} -P 22 {{ host.host_ip }}" );
  }
</script>
{% empty %}
There are no hosts for this group yet.
{% endfor %}

{% endblock content %}