{% extends 'mhosts/base.html' %} {% block header %}

<div class="groupname">{{ group }}</div>

{% endblock header %} {% block content %}
<div class="addnewhost">
    <a href="{% url 'mhosts:new_host' group.id %}">add new host</a>

</div>
    


<form role="search" method="get" id="searchform" action="{% url 'mhosts:search_host' group.id %}">
    <input type="search" name="q" placeholder="search hostname or IP" required>
    <button type="submit">search</button>
</form>

<h3 id="{{host.id}}">
    <table >
        
            <tr>
                <!-- <th>ID</th> -->
                <th>Host name</th>
                <th>IP Address</th>
                <th>User Name</th>
                <th colspan="2">actions</th>
                <th colspan="2">console</th>
            </tr>
        
        {% for host in hosts %}
        
            <tr>
                <!-- <td>{{ host.id }}&nbsp;&nbsp;</td> -->
                <td>{{ host.host_name }}</td>
                <td><a href="javascript:;" onclick="openRDP{{ host.id }}()">
                    {{ host.host_ip }}</a></td>
                <td>{{ host.user_name }}</td>

                <td><a href="{% url 'mhosts:delete_host' host.id %}" onclick="return deleteJob();">
          delete</a></td>
                <td><a href="{% url 'mhosts:edit_host' host.id %}">
          edit</a></td>
                <td><a href="javascript:;" onclick="openRDP{{ host.id }}()">
          RDP</a></td>
                <!-- <td><a href="javascript:;" onclick="openSSH{{ host.id }}()">
          SSH</a></td> -->

            </tr>
       

    <script type="text/javascript">

      var cmd = new ActiveXObject("WScript.Shell");
    
      function openRDP{{ host.id }}() {
        var ip = "{{ host.host_ip }}"
        var User = "{{ host.user_name }}"
        var Password = "{{ host.user_pass }}"
        var cmd_key = "cmdkey /generic:TERMSRV/" + ip + " /user:CN04-CORP\\" + User + " /pass:" + Password
        cmd.run("cmd.exe /c " + cmd_key);
        cmd.run("cmd.exe /c mstsc /f /v:" + ip);
      }
    
      function openSSH{{ host.id }}() {
        cmd.run("cmd.exe /c putty -ssh -l {{ host.user_name }} -pw {{ host.user_pass }} -P 22 {{ host.host_ip }}" );
      }
    
      function deleteJob()
        {
             if(confirm("delete this server?"))
             {
                 return true;
             }else{
                 return false;
           }
        }
    
    </script>

        {% empty %} There is no host in this group yet. 
        
        {% endfor %}
    </table>
</h3>

{% endblock content %}