{% extends 'mhosts/base.html' %}

{% block header %}
<h2>{{ group }}</h2>
{% endblock header %}

{% block content %}
<p>
  <a href="{% url 'mhosts:new_host' group.id %}">add new host</a>
</p>

<form role="search" method="get" id="searchform" action="{% url 'mhosts:search_host' group.id %}">
	<input type="search" name="q" placeholder="search hostname or IP" required>
	<button type="submit">search</button>
</form>

<div>
  <h3>
    <table>
      <tr>
        <th>ID</th><th>Host name</th>
      </tr>
    </table>
  </h3>
</div>
{% for host in hosts %}
<div id="{{host.id}}" class="panel panel-default">
  <h3>
    <table>
      <tr>
        <td>{{ host.id }}&nbsp;</td><td>{{ host.host_name }}&nbsp;</td>
        <td>{{ host.host_ip }}&nbsp;</td><td>{{ host.user_name }}&nbsp;</td>
      </tr>
    </table>
    
    <small>
      <a href="{% url 'mhosts:delete_host' host.id %}" onclick="return deleteJob();">
        delete</a>
      <a href="{% url 'mhosts:edit_host' host.id %}">
        edit</a>
      <a href="javascript:;" onclick="openCmd{{ host.id }}()">
        connect_with_RDP</a>
    </small>
  </h3>
</div> <!-- panel -->
<script type="text/javascript">

  var cmd = new ActiveXObject("WScript.Shell");

  function openCmd{{ host.id }}() {
    var ip = "{{ host.host_ip }}"
    var User = "{{ host.user_name }}"
    var Password = "{{ host.user_pass }}"
    var cmd_key = "cmdkey /generic:TERMSRV/" + ip + " /user:CN04-CORP\\" + User + " /pass:" + Password
    cmd.run("cmd.exe /c " + cmd_key);
    cmd.run("cmd.exe /c mstsc /f /v:" + ip);
  }

  function deleteJob()
		{
		     if(confirm("delete this server?"))
		     {
		         return true;
		     }else{
		         return false;
			 }
		}

</script>
{% empty %}
There is no host in this group yet.
{% endfor %}

{% endblock content %}